/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import "__spacing.css"; /* Using Tachyons spacing */

html,
body {
  color: #222;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  margin: 0;
  height: 100%;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * 
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 120px;
}


/* The hero image */
.hero-image {
  margin: 0 0;
  background-image: url("../img/hero-beach.jpg");
  height: 387px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.header__logo {
  height: 32px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.footer__items a {
  font-weight: 500;
  color: #222;
  text-decoration: none;
}

/* ==========================================================================
  Add your CSS here 
   ========================================================================== */

h1, h2, h3, p, button, captions {
    font-family: Roboto, open-sans;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
}

h3, a {
    font-size: 24px;
}

a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

p {
    font-size: 24px;
    line-height: 1.2;
}

caption {
    font-size: 18px;
}

header {
    position: relative;
}

header a {
    color: #000;
}

main {
  flex: 1;
  overflow: auto;
}

.sizer {
    padding: 0 100px;
}

section {
  
  overflow: auto;
  background: #fff;
  padding: 40px 0 60px 0;
}

.hero-image {
  height: 387px;
  padding: 82px 0 0 0;
  border-bottom: none !important;
}

.hero-image h1 span {
    background-color: #fff;
}

.fund, .mission, .communities, .technologies {
    border-bottom: 2px solid;
}

.fund {
    height: 330px;
}

.fund .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}

.fund .grid-item {
    height: 178px;
    margin-top: 40px;
}

.fund .grid-item p {
    font-weight: 700;
    padding: 90px 0 10px 20px;
    margin: 0;
    line-height: 1.4;
}

.btn {
    padding: 6px 0 6px 20px;
    background-color: #000;
}

.fund .one {
    background-color: #f2c94c;
}

.fund .two {
    background-color: #83afed;
}

.mission .grid-container {
    display: grid;
    grid-template-columns: 500px 400px;
    grid-column-gap: 80px;
}

.mission img {
    width: 400px;
    padding-bottom: 80px;
}

.communities .btn {
    width: 184px;
    padding: 20px 0 20px 20px;
}

.communities .grid-container1 {
    display: grid;
    grid-template-columns: 475px auto;
    grid-column-gap: 30px;
    padding-bottom: 80px;
}

.communities .grid-container2 {
    display: grid;
    grid-template-columns: 284px 284px 284px;
    grid-column-gap: 65px;
}

.communities .grid-container2 .grid-item {
    background-color: #f2c94c;
    height: 478px;
}

.communities .grid-container2 .grid-item img {
    width: 284px;
}

.text {
    padding: 10px;
    height: 170px;
}

.category {
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 15px;
}

.headline {
    font-weight: 700;
    margin: 0;
}



.nav {
    display: none;
}

.toggled {
    display: block;
    width: 100%;
    left: 0;
    position: absolute;
    margin-top: 167px;
    background-color: #ddd;
    z-index: 10;
}

.toggled a {
    display: block;
    border-bottom: 1px solid #000;
    padding: 10px 0 10px 20px;
}


/* spacing changes */
.ph3{padding-left:6.2rem;padding-right:6.2rem}
.ph4{padding-left:7.6rem;padding-right:8.6rem}









/* ========================================================================== ========================================================================== */



   /*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
